flux-movement/src/main/resources/contract/UnqualifiedDataType_13p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--======================================================================-->
<!--=====  Unqualified Data Type Schema Module                       =====-->
<!--=====  Unqualified Data Type Schema Module                       =====-->
<!--======================================================================-->
<!--
  	Schema agency: 	UN/CEFACT 
  	Schema version:	13.0
  	Schema date: 	    25 February 2013
  	
  	Copyright (C) UN/CEFACT (2011). All Rights Reserved.

	This document and translations of it may be copied and furnished to others, 
	and derivative works that comment on or otherwise explain it or assist 
	in its implementation may be prepared, copied, published and distributed, 
	in whole or in part, without restriction of any kind, provided that the 
	above copyright notice and this paragraph are included on all such copies 
	and derivative works. However, this document itself may not be modified in 
	any way, such as by removing the copyright notice or references to 
	UN/CEFACT, except as needed for the purpose of developing UN/CEFACT 
	specifications, in which case the procedures for copyrights defined in the 
	UN/CEFACT Intellectual Property Rights document must be followed, or as 
	required to translate it into languages other than English.

	The limited permissions granted above are perpetual and will not be revoked 
	by UN/CEFACT or its successors or assigns.

	This document and the information contained herein is provided on an "AS IS"
	basis and UN/CEFACT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING 
	BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL 
	NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR 
	FITNESS FOR A PARTICULAR PURPOSE.
	-->
	<xsd:schema targetNamespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:13" elementFormDefault="qualified" attributeFormDefault="unqualified" version="13.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:clm63055="urn:un:unece:uncefact:codelist:standard:6:3055:D12A"
	xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:13"
	xmlns:clm6Recommendation20="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:8" 
 >


	
	<!--===================================================================-->
  <!--===== Imports                                                 =====-->
  <!--===================================================================-->
  <!--===== Imports of Code Lists                                   =====-->
  <!--===================================================================-->
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:Recommendation20:8" schemaLocation="UNECE_MeasurementUnitCommonCode_8.xsd"/>
  <xsd:import namespace="urn:un:unece:uncefact:codelist:standard:6:3055:D12A" schemaLocation="UNECE_AgencyIdentificationCode_D12A.xsd"/>
  <!--===================================================================-->
  <!--===== Type Definitions                                         =====-->
  <!--===================================================================-->
  <!--===== Amount. Type                                            =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Binary Object. Type                                     =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Graphic. Type                                           =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Picture. Type                                           =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Sound. Type                                             =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Video. Type                                             =====-->
  <!--===================================================================-->
  <!--===================================================================-->
  <!--===== Code. Type                                              =====-->
  <!--===================================================================-->
  <xsd:complexType name="CodeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="listID" type="xsd:token" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
<!-- petofma 20160125: removed dependency towards UNECE_AgencyIdentificationCode_D12A.xsd (clm63055 namespace)
        <xsd:attribute name="listAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listAgencyName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
-->
        <xsd:attribute name="listName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listVersionID" type="xsd:token" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="name" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="listSchemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===================================================================-->
  <!--===== Date Time. Type                                         =====-->
  <!--===================================================================-->
  <xsd:simpleType name="DateTimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Date. Type                                              =====-->
  <!--===================================================================-->
  <xsd:simpleType name="DateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Time. Type                                              =====-->
  <!--===================================================================-->
  <xsd:simpleType name="TimeType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:time"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Identifier. Type                                        =====-->
  <!--===================================================================-->
  <xsd:complexType name="IDType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:token">
        <xsd:attribute name="schemeID" type="xsd:token" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="schemeAgencyID" type="clm63055:AgencyIdentificationCodeContentType" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>

        <xsd:attribute name="schemeAgencyName" type="xsd:string" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeVersionID" type="xsd:token" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeDataURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="schemeURI" type="xsd:anyURI" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===================================================================-->
  <!--===== Indicator. Type                                         =====-->
  <!--===================================================================-->
  <xsd:simpleType name="IndicatorType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean">
      <xsd:pattern value="false"/>
      <xsd:pattern value="true"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Measure. Type                                           =====-->
  <!--===================================================================-->
  <xsd:complexType name="MeasureType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===================================================================-->
  <!--===== Numeric. Type                                           =====-->
  <!--===================================================================-->
  <xsd:simpleType name="NumericType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Value. Type                                             =====-->
  <!--===================================================================-->
  <xsd:simpleType name="ValueType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Percent. Type                                           =====-->
  <!--===================================================================-->
  <xsd:simpleType name="PercentType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Rate. Type                                              =====-->
  <!--===================================================================-->
  <xsd:simpleType name="RateType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!--===================================================================-->
  <!--===== Quantity. Type                                          =====-->
  <!--===================================================================-->
  <xsd:complexType name="QuantityType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:decimal">
        <xsd:attribute name="unitCode" type="clm6Recommendation20:MeasurementUnitCommonCodeContentType" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===================================================================-->
  <!--===== Text. Type                                              =====-->
  <!--===================================================================-->
  <xsd:complexType name="TextType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===================================================================-->
  <!--===== Name. Type                                              =====-->
  <!--===================================================================-->
  <xsd:complexType name="NameType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="languageID" type="xsd:language" use="optional">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>